streamlit
pandas
numpy
matplotlib
scikit-learn
nltk
transformers
python-dotenv
spacy
textblob
plotly
python-slugify
openai
python-dotenv
plotly
google-generativeai
wordcloud
seaborn
networkx
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
